# Staging/ops tuning for sensor polling & event bus
SYSGROW_EVENTBUS_WORKERS=8
SYSGROW_EVENTBUS_QUEUE_SIZE=2048
SYSGROW_MQTT_RATE_LIMIT_SEC=2
SYSGROW_MQTT_COALESCE_FLUSH_SEC=2
SYSGROW_SENSOR_BACKOFF_BASE_SEC=2
SYSGROW_SENSOR_BACKOFF_MAX_SEC=60
SYSGROW_POLLING_HEARTBEAT_SEC=10
