{% extends 'base.html' %}

{% block content %}
<h1>Tent environment Sensor Data</h1>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Temperature</th>
            <th>Humidity</th>
        </tr>
    </thead>
    <tbody>
        {% for data in sensor_data %}
        <tr>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Plant Sensor Data</h1>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Plant name</th>
            <th>Soil Moisture</th>
        </tr>
    </thead>
    <tbody>
        {% for data in plant_sensor_data %}
        <tr>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
