<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SYSGrow</title>
    <meta name="author" content="Sebastian Gomez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
        <div class="site-logo" tabindex="1">
            <img src="/images/oulogo.jpg" class="logo-image" alt="SYSGrow logo">
            <div class="logo-text">
                <h1 class="heading">SYSGrow</h1>
                <p class="subtitle">Tent Grow System Management</p>
        </div>
    </header>
    <main>
      <section class="section-form">
        <h6>Add a new strain</h6>
        <form
          method="POST"
          action="https://students.open.ac.uk/mct/tt284/reflect/reflect.php"
        >
          <input
            type="hidden"
            name="SessionIdentifier"
            id="SessionIdentifier"
            value="ee32-ff67-abcd1234-9090"
          />
          <fieldset>
            <p>
              Please enter the required information in the fields below. 
            </p><br>
              <div class="form-row">
                  <label for="from">From:<span class="required">*</span></label>
                  <input type="text" id="from" name="from" placeholder="admin@open.ac.uk" tabindex="3" required>
              </div>
              <div class="form-row">
                  <label for="subject">Subject:</label>
                  <input type="text" id="subject" name="subject" tabindex="3">
              </div>
              <div class="form-row">
                  <label for="send-date">Send date:<span class="required">*</span></label>
                  <input type="date" id="send-date" name="send-date" tabindex="3" required>
              </div>
              <div class="form-row">
                  <label for="announcement">Email recipient:</label>
                  <select id="announcement" name="announcement" tabindex="3">
                     <option value="newsletter">To all Newsletter Subscribers</option>
                     <option value="single">Single member</option>
                     <option value="all">All members</option>
                  </select>
              </div>
              <div class="form-row">
                  <label for="attachment" class="attach-label">Add Attachment:</label>
                  <label for="attachment" class="file-upload-label">
                    <img src="images/attach-symbol.png" alt="Attachment icon" class="attach-icon">
                  </label>
                  <input type="file" id="attachment" name="attachment" tabindex="4">
              </div>
              <div class="form-row">
                  <textarea name="message" id="message" rows="10" tabindex="5"></textarea>
              </div>
              <div class="form-row">
                  <input type="submit" value="Send" class="sendbtn" tabindex="6">
              </div>
          </fieldset>
        </form>
      </section>
    </main>
    <aside class="sidebar">
        <section class="table-container">
            <div class="upcoming-race">
                <h5>Strain information</h5>
                <div class="table-content">
                    <ul class="upcoming-list">
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo" />
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                    </ul>
               </div>
            </div>
        </section>
        <section class="table-container">
            <div class="pending-approval">
                <h5>Pending Approval</h5>
                <div class="table-content">
                    <ul class="pending-list">
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                    </ul>
               </div>
            </div>
        </section>
        <p id="validcss">
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
          <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
        </a>
      </p>
    </aside>
    <footer>
        <div id="about">Tent Grow System Management</div>
      <div id="copyright">© Copyright 2024 by Sebastian Gomez.</div>
    </footer>
  </body>
</html>
