<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SYSGrow</title>
    <meta name="author" content="Sebastian Gomez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
        <div class="site-logo" tabindex="1">
            <img src="images\logo.png" class="logo-image" alt="SYSGrow logo">
            <div class="logo-text">
                <p class="subtitle">Tent Grow System Management</p>
        </div>
    </header>
    <main>
        <div class="tent-info">
            <h5>Sensor Reading</h5>
                {% if temperature_c is not none %}
                <p>Temperature: {{ temperature_c }}°C / {{ temperature_f }}°F</p>
                <p>Humidity: {{ humidity }}%</p>
                {% else %}
                <p>Error reading sensor data.</p>
                {% endif %}
        </div>

    </main>
    <aside class="sidebar">
        <section class="table-container">
            <div class="upcoming-race">
                <h5>Strain information</h5>
                <div class="table-content">
                    <ul class="upcoming-list">
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo" />
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                                <div class="race-edit">
                                    <img src="images/edit.png" alt="edit icon" class="edit-icon">
                                </div>
                            </div>
                        </li>
                    </ul>
               </div>
            </div>
        </section>
        <section class="table-container">
            <div class="pending-approval">
                <h5>Pending Approval</h5>
                <div class="table-content">
                    <ul class="pending-list">
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                        <li class="races">
                            <div class="races-instance">
                                <img src="images/imageSmallSquare.jpg" alt="race photo" class="race-photo">
                                <div class="race-title">
                                    <a href="#Review-race">Race title</a>
                                </div>
                                <div class="race-date"><p>Date</p></div>
                            </div>
                        </li>
                    </ul>
               </div>
            </div>
        </section>
        <p id="validcss">
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
          <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
        </a>
      </p>
    </aside>
    <footer>
        <div id="about">Tent Grow System Management</div>
      <div id="copyright">© Copyright 2024 by Sebastian Gomez.</div>
    </footer>
  </body>
</html>
